<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">

<div class="mb-0">
   <h1 class="display-6">Formulario</h1>
</div>

<form action="formularioNovo" method="POST">
	<div class="form-group">
		<label for="solicitante"> Seu Nome</label>
		<input class="form-control" name="solicitante">
		<small>Informe seu nome</small>
	</div>
	<div class="form-group">
		<label for="soliContato"> Contato</label>
		<input class="form-control" name="soliContato">
		<small>Informe seu contato</small>
	</div>
	<div class="form-group">
		<label for="tipo"> Tipo de Animal</label>
		<input class="form-control" name="tipo">
		<small>Qual o tipo do animal</small>
	</div>
	<div class="form-group">
		<label for="descricao"> Caracteristica</label>
		<input class="form-control" name="descricao">
		<small>Informe uma descrição</small>
	</div>
	<div class="form-group">
		<label for="localizacao"> Localização</label>
		<input class="form-control" name="localizacao">
		<small>Informe a localização</small>
	</div>
	
	<button type="submit"> Cadastrar</button>
</form>

</div>
</body>
</html>